/* colors

#265f81 - tmavo modra
#00baff - bledo modra
#e9e9e9 - bledo siva

*/

@import url("./css-texty.css");
@import url("./css-galerry.css");
@import url("./css-profile.css");

@font-face {
    font-family: myfont;
    src: url('./font/BonvenoCF-Light.otf');
}
@font-face {
    font-family: FontAwesome;
    src: url('./font/FontAwesome.otf');
}

*{
	margin: 0;
	padding: 0 0 0 0;
	font-family: myfont;
}


/*zaklad*/
html{
	height: 100%;
}
body {
	font-family: myfont;
	position:relative;
	min-height: 100%;	
	

}


header {
	z-index: 11;
	position:fixed;	
	top:0;
	width: 100%;
	height: 55px;
	color: white;
	border-bottom: 15px solid #265f81;
}


nav{
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	float: right;
	/*padding-top: 15px;*/

}

nav a{
	margin-left: 20px;
	float: left;
}

.logo{
	float: left;
}


.logo img{
	position: absolute;
	bottom: -13px;
	height: 85px;
	overflow: visible;
	float: left;
}


section{
	margin-top: 90px;
	margin-bottom: 140px;
	width: 100%;
	float: left;
}

footer{
	/*overflow: auto;
*/
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	color: white;
	
	
	border-top: 15px solid #265f81;
}



/*classy*/
.shaddow{
	-webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    0 0 15px 0 rgba(0, 0, 0, 0.75);
	box-shadow:         0 0 15px 0 rgba(0, 0, 0, 0.75);
}


.container{
	margin: 0 auto;
	width: 1100px;
}

.color1{
	color: #e9e9e9;
}

.color2{
	color: black;
}

.color3{
	color: #00baff;
}

.color4{
	color: #265f81;
}

.padding{
	padding: 10px 10px 10px 10px;
}

.bg1{
	background-color: #e9e9e9;
}

.bg2{
	background-color: black;
}

.bg3{
	background-color: #00baff;
}

.bg4{
	background-color: #265f81;
}
.bg5{
	background-image: url('./img/bg-top.png');
	background-repeat: repeat;
	background-position: top left;
}
.bg6{
	background-image: url('./img/bg-section.png');
	background-repeat: repeat;
	background-position: top left;
}
.bg7a{
	background-color: rgba(110,110,110,0.3);
}

.button {
	cursor: pointer;
   	font-size: 100%;
   	line-height: 35px;
   	padding: 0 2%;
   	display: inline-block;	
	border: none;
	vertical-align: middle;
	height: 35px;
	
	-o-transition:.2s ease-in-out;
  	-ms-transition:.2 ease-in-outs;
  	-moz-transition:.2s ease-in-out;
  	-webkit-transition:.2s ease-in-out;

  	transition:.2s ease-in-out;
}
.button:hover, .button:active{
		background-color: #00baff;
		color: black;
}

.left{
	float: left;
}
.right{
	float: right;
}

.wrapper{
	height: 0;
	clear: both;
}

.link{
	color: #00baff;
}

.link:hover{
	font-weight: bold;
}

.copyright{
	text-align: center;
}

.centered{
	width: 100%;
	line-height: 100%;
	text-align: center;
	margin: auto auto;
}



/*   miniatures   */

.image_min_container{
	display: flex;
	width: 23%;
	height: 200px;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 1%;
	background: rgba(0,0,0,0.2);

}
.image_min_container:hover > img{
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);

}
.image_min_container:hover > .image_min_info{
	opacity: 1;
}

.image_min_container img{
	margin: auto auto;

	max-width: 100%;
	max-height: 100%;
	-o-transition:.2s ease-in-out;
  	-ms-transition:.2 ease-in-outs;
  	-moz-transition:.2s ease-in-out;
  	-webkit-transition:.2s ease-in-out;
  	transition:.2s ease-in-out;
}

.overlay{
	background: rgba(0,0,0,0.5);
}
.image_min_fullscreen{
	height: 100%;
}
 .image_min_info{
 	opacity: 0;
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	min-width:100%;
 	height: 100%;
 	min-height: 100%;
 	cursor: pointer;

 	-o-transition:.2s ease-in-out;
  	-ms-transition:.2 ease-in-outs;
  	-moz-transition:.2s ease-in-out;
  	-webkit-transition:.2s ease-in-out;
  	transition:.2s ease-in-out;
 }

.image_min_buttons{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.image_min_buttons a{

	margin-left: 10px;
	display: block;
	float: left;
	text-align: center;
}

.image_min_author{
	padding-left: 10px;
	font-size: 100%;
	min-width: 100%;
	float: left;
	background: rgba(0,0,0,0.3);
}
.image_min_name{
	padding-left: 10px;
	font-size: 80%;
	float: left;
	min-width: 100%;
	background: rgba(0,0,0,0.2);
}


/*    dropdown      */

#dropdown_container{
	position: fixed;
	top: -200px;
	left: 50%;
	margin-left: -550px;
	z-index: 4;

	-o-transition:.2s ease-in-out;
  	-ms-transition:.2 ease-in-outs;
  	-moz-transition:.2s ease-in-out;
  	-webkit-transition:.2s ease-in-out;

  	transition:.2s ease-in-out;

}
#dropdown{
	padding:20px;
	min-height: 100px;
	height: auto;
}
#dropdown_container:hover,
header:hover + #dropdown_container{
	top:64px;
}



.search{
	position: relative;
	left: 30%;
	float: left;
	width: 40%;
}
.filter{
	float: left;
	min-width: 70%;
}
.subcategory{
	display: block;
	min-width: 150px;
	float: left;
	margin: 0 20px 20px 20px;
}
.category{
	font-size: 80%;
	cursor: pointer;
}

.login{
	float: left;
	/*text-align: right;*/
	width: 30%;
	height: 100%;
}

.login div{
	width: 100%;
	text-align: right;
}


.login_button{
	margin-top: 20px;
	margin-bottom: 20px;
}/*
.login a:last-child{
	float: right;
}
*/



/*    search box     */

.search_box_container{
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.search_box_container input{
	float:left;
	width: 100%;
}
.search_box_container a{
	opacity: 0;
	width: 50px;
	text-align: center;
	padding:0;
	font-size: 80%;
}
#search_box:focus + a.button,
.search_box_container:hover a.button
{
	opacity: 1;
	margin-left: -50px;
}




#info_cont{
	width: 45%;
}
#img_cont{
	width: 45%;
}

#img_cont img{
	width: 100%;
	margin-bottom: 25px;

}

#input_f{
	display: none;
	margin-bottom: 25px;
}
.form .input{
	width: 76%;
	margin-bottom: 25px;
}
.form .select{
	width: 80%;
	margin-bottom: 25px;
}


.form textarea{
	max-width: 76%;
	height: 100px;
	max-height: 100px;
	line-height: 16pt;
}
.input_descr{
	margin-bottom: 20px;
	margin-top: 5px;
	font-size: 60%;
	width: 100%;
}

.error{
	font-size: 80%;
	color: #FC2020;
}

#loginResult{
	height: 20px;
}